[Unit]
Description=SleepAsAService
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/auto-zram compressionAnalysisJsonLoop

[Install]
WantedBy=multi-user.target
